.footer-section {
    display: flex;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #576075;
    font-size: 13px;
}

.footer-info {
    flex-grow: 1;
}

.footer-links {
    display: flex;
    gap: 40px
}
.footer-links a {
    cursor: pointer;
}