@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ChangaOne';
  src: url('../fonts/Changa_One/ChangaOne-Regular.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

h1 {
    font-family: 'ChangaOne';
    display: block;
    font-size: 2em;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 100;
    unicode-bidi: isolate;
}

h2 {
    font-family: 'Roboto';
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    margin-top: 0px;
    margin-bottom: 0px;
}

h3 {
    font-family: 'ChangaOne';
    display: block;
    font-size: 1.17em;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 100;
    unicode-bidi: isolate;
}

body {
    margin: 0px;
    box-sizing: border-box;
    font-family: "Roboto";
    font-weight: 100;
    font-size: 18px;
}

header {
    margin: 8px;
    display: flex;
}

.header-spacer {
    /* flex-grow: 119; */
}

.header-content {
    /* flex-grow: 1202; */
    width: 83.5%;
    margin-left: 8.5%;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}

.site-header {
    display: flex;
}

.header-branding {
    display: flex;
    flex-direction: column;
}

.header-logo1 {
    width: 63px; 
    height: auto;
}

.header-logo2 {
    width: 95px;
    height: auto;
}

.header-nav {
    display: inline-flex;
    align-items: center;
    gap: 15px;
}

.nav-list,
.nav-icons {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.nav-icons img{
    cursor: pointer;
}

.nav-item {
    cursor: pointer;
}

.nav-item-selected {
    color: #8A53FF;
    cursor: pointer;
}

.nav-divider {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.nav-divider-line {
    display: block;
    background-color: black;
    width: 1px;
    height: 14px;
    margin: 0 auto;
}